:root {
  --normal: #A8A77A;
  --fighting: #C22E28;
  --flying: #A98FF3;
  --poison: #A33EA1;
  --ground: #E2BF65;
  --rock: #B6A136;
  --bug: #A6B91A;
  --ghost: #735797;
  --steel: #B7B7CE;
  --fire: #EE8130;
  --water: #6390F0;
  --grass: #7AC74C;
  --electric: #F7D02C;
  --psychic: #F95587;
  --ice: #96D9D6;
  --dragon: #6F35FC;
  --dark: #705746;
  --fairy: #D685AD;
  --stellar: #FFDEAD;
  --unknown: #68A090;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar-track {
  background-color: #c5e4f7;
  box-shadow: inset 0 0 2px 1px rgba(var(--secondary-rgb), 0.5);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #3469bb;
  border-radius: 8px;
  width: 4px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #3469bb transparent;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Fira Code';
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #3469bb, white);
}

.d-none {
  display: none !important;
  width: 0;
  height: 0;
  overflow: hidden;
}

#limiter {
  height: 100dvh;
  width: 100dvw;
  max-width: 1920px;
  background: linear-gradient(to bottom, #3469bb, white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  display: flex;
  height: 6%;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  color: #fecc00;
  font-size: 24px;
  font-family: 'PokeSolid';
  text-shadow: -2px 0px #3469bb, 0 2px #3469bb, 2px 0 #3469bb, 0 -2px #3469bb;
  line-height: 2;
}

footer {
  font-size: 16px;
  text-shadow: none;
  color: rgb(40, 40, 40);
  height: 3%;
  line-height: 3;
}

.divider {
  width: 70vw;
  max-width: 1100px;
  height: 2%;
  border-left: 16px solid rgb(40, 40, 40);
  border-right: 16px solid rgb(40, 40, 40);
  border-radius: 32px;
  background: linear-gradient(to right, rgb(225, 25, 25) 33%, rgb(40, 40, 40) 34%, rgb(225, 25, 25) 33%, rgb(225, 25, 25) 66%, rgb(40, 40, 40) 67%, rgb(225, 25, 25) 66%);
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.4);
}

.screen {
  position: relative;
  width: 100%;
  margin: 32px;
  padding: 8px;
  border: 2px solid rgb(40, 40, 40);
  background-color: whitesmoke;
  box-shadow: inset 0 0 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#topScreenInfo,
#smallScreenInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 24px;
}

.loader {
  max-height: 60%;
  width: auto !important;
  aspect-ratio: 1;
  object-fit: contain;
  position: relative;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  transform-origin: bottom;
}

.loader::after {
  background:
    radial-gradient(at 75% 15%, #fffb, #0000 35%),
    radial-gradient(at 80% 40%, #0000, #0008),
    radial-gradient(circle 15px, #fff 94%, #0000),
    radial-gradient(circle 30px, #000 94%, #0000),
    linear-gradient(#F93318 0 0) top /100% calc(50% - 5px),
    linear-gradient(#fff 0 0) bottom/100% calc(50% - 5px) #000;
  background-repeat: no-repeat;
  animation: l20 2.5s infinite cubic-bezier(0.5, 120, 0.5, -120);
}

.loader::before {
  background: #ddd;
  filter: blur(8px);
  transform: scaleY(0.4) translate(-13px, 0px);
}

@keyframes l20 {

  30%,
  70% {
    transform: rotate(0deg)
  }

  49.99% {
    transform: rotate(0.2deg)
  }

  50% {
    transform: rotate(-0.2deg)
  }
}