.pokedex {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.topScreen,
.bottomScreen {
  position: relative;
  background-color: rgb(226, 24, 24);
  width: 90vw;
  max-width: 1440px;
  height: 48%;
  border: 8px solid rgb(40, 40, 40);
  border-radius: 32px;
  display: flex;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.4);
}

.loaderContainer {
  gap: 16px;
  align-items: flex-start !important;
  justify-content: center !important;
}

.loaderContainer>.loader {
  height: 60%;
}

#topScreenInfo>* {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#topScreenInfo button {
  width: 33.3%;
  height: 66.6%;
  border-radius: 24px;
  font-size: 24px;
  background-color: #3469bb;
  border: 4px outset rgba(0, 0, 0, 0.4);
}

#topScreenInfo button:hover {
  background-color: #6390F0;
}

.topScreen nav,
.topScreen ul {
  display: flex;
  align-items: center;
  width: 100%;
  height: 12%;
  gap: 2px;
  font-size: 16px;
  font-weight: 600;
  list-style: none;
}

.topScreen ul {
  height: 100%;
}

.topScreen li {
  width: 33.3%;
  height: 100%;
  border: 1px solid rgb(40, 40, 40);
  border-block-end-style: none;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.topScreen li:hover {
  background-color: rgba(52, 105, 187, 0.4);
}

.topTab {
  display: none;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  height: 88%;
  border: 1px solid rgb(40, 40, 40);
  border-block-start: none;
  border-radius: 0 0 8px 8px;
}

.topTab>* {
  width: 50%;
  height: 100%;
  object-fit: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

#misc table {
  height: 100%;
  width: 100%;
  padding: 8px;
  border-left: 2px solid rgba(0, 0, 0, 0.4);
}

#misc td {
  padding-left: 8px;
  width: 20%;
  min-height: 15%;
  font-size: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

#misc tr td:last-of-type {
  width: 80%;
}

#stats {
  background-color: rgba(255, 255, 125, 0.15);
}

.statsCont {
  width: 80%;
  height: 16.6%;
}

.statsCont div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.statsCont p {
  display: flex;
  font-size: 20px;
}

.statContainer {
  width: 100%;
  max-width: 100%;
  height: 50%;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  position: relative;
}

.statBar {
  height: 100%;
  width: 0;
  transition: width 0.5s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

.statContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: repeating-linear-gradient(to right,
      transparent,
      transparent 2%,
      rgba(0, 0, 0, 0.1) 2.1%,
      rgba(0, 0, 0, 0.1) 3%);
  z-index: 1;
}

.statOverview {
  width: 33.3%;
}

.statHp {
  background-color: rgba(255, 0, 0, 0.5);
}

.statAttack {
  background-color: rgba(255, 166, 0, 0.5);
}

.statDefense {
  background-color: rgba(0, 0, 255, 0.5);
}

.statSpAttack {
  background-color: rgba(128, 0, 128, 0.5);
}

.statSpDefense {
  background-color: rgba(0, 128, 0, 0.5);
}

.statSpeed {
  background-color: rgba(255, 255, 0, 0.5);
}

#evo {
  background-color: rgba(125, 255, 255, 0.15);
}

#misc {
  background-color: rgba(255, 125, 255, 0.15);
}

.damageOverview {
  flex-direction: row;
  width: 66.6%;
  padding: 0 4px 0 0;
  gap: 4px;
}

.damageTypes {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-width: 50%;
  height: 100%;
  flex: 1;
}

.damageMulti {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin: 2px 0;
  border-radius: 4px;
}

.damageMulti>ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.damageMulti>ul>* {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 2;
}

.damageMulti>ul>ul>li {
  width: auto;
  margin-right: 4px;
}

.damageTypes li {
  width: 100%;
  border: none;
  border-radius: 0;
  justify-content: center;
  font-weight: 400;
  height: auto;
}

.damageTypes li:hover {
  background-color: unset;
}

.normal {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/1.png");
}

.fighting {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/2.png");
}

.flying {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/3.png");
}

.poison {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/4.png");
}

.ground {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/5.png");
}

.rock {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/6.png");
}

.bug {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/7.png");
}

.ghost {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/8.png");
}

.steel {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/9.png");
}

.fire {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/10.png");
}

.water {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/11.png");
}

.grass {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/12.png");
}

.electric {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/13.png");
}

.psychic {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/14.png");
}

.ice {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/15.png");
}

.dragon {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/16.png");
}

.dark {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/17.png");
}

.fairy {
  background: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/types/generation-vi/omega-ruby-alpha-sapphire/18.png");
}

.dmgImg {
  height: 20px !important;
  width: 50px !important;
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  cursor: unset !important;
}

.damageTypes>img {
  height: 36px;
}

.evoStepContainer {
  min-width: 33.3%;
  max-width: 100%;
  height: 100%;
  padding: 8px;
  flex-wrap: wrap;
}

.evoStepPokemon {
  max-width: 50%;
  max-height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 25%;
}

.evoStepPokemon>img {
  width: auto;
  height: 100%;
}